
#logo {
    width: 69px;
    height: 58px;
    background-image: [object Object];
    box-sizing: border-box;
}
#bg-header {
    width: 1920px;
    height: 85px;
    padding: 2px 2px 2px 2px;
    background-color: #000000;
    box-sizing: border-box;
    #menu-bar {
        width: 1920px;
        height: 85px;
        padding: 2px 2px 2px 2px;
        border-radius: 5px;
        border: 1px solid #000000;
        background-color: rgba(242, 242, 242, 0);
        box-sizing: border-box;
    }
    #czugamer-cz {
        width: 98px;
        height: 22px;
        background-color: rgba(255, 255, 255, 0);
        box-sizing: border-box;
        font-family: "Rockwell Bold", "Rockwell", sans-serif;
        font-weight: 700;
        color: #ffffff;
        text-align: left;
        line-height: normal;
    }
}
#news {
    width: 49px;
    height: 27px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: #ffffff;
    text-align: left;
    line-height: normal;
}
#news:hover {
    box-sizing: border-box;
    color: #d9001b;
}
#games {
    width: 61px;
    height: 27px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: #ffffff;
    text-align: left;
    line-height: normal;
}
#games:hover {
    box-sizing: border-box;
    color: #d9001b;
}
#reviews {
    width: 70px;
    height: 27px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: #ffffff;
    text-align: left;
    line-height: normal;
}
#reviews:hover {
    box-sizing: border-box;
    color: #d9001b;
}
#technology {
    width: 101px;
    height: 27px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: #ffffff;
    text-align: left;
    line-height: normal;
}
#technology:hover {
    box-sizing: border-box;
    color: #d9001b;
}
#events {
    width: 57px;
    height: 27px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: #ffffff;
    text-align: left;
    line-height: normal;
}
#events:hover {
    box-sizing: border-box;
    color: #d9001b;
}
#search-input {
    width: 316px;
    height: 40px;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    border: 1px solid #000000;
    background-color: #ffffff;
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
    color: #000000;
    text-align: left;
}
#search-input:disabled {
    box-sizing: border-box;
}
#search-input {
    box-sizing: border-box;
}
#search-input:focus {
    box-sizing: border-box;
}
#popular-bg {
    width: 1920px;
    height: 45px;
    padding: 2px 2px 2px 2px;
    background-color: #d9001b;
    box-sizing: border-box;
}
#popular {
    width: 66px;
    height: 24px;
    background-color: #d9001b;
    box-sizing: border-box;
    font-family: "Poppins Bold", "Poppins", sans-serif;
    font-weight: 700;
    color: #ffffff;
    text-align: left;
    line-height: normal;
}
#popular-carousel {
    width: 1754px;
    height: 38px;
    padding: 2px 2px 2px 2px;
    background-color: #d9001b;
    box-sizing: border-box;
}
#popular-tab {
    width: 1920px;
    height: 45px;
    background-color: #ffffff;
}
#hot-right-now {
    width: 720px;
    height: 499px;
    background-color: #ffffff;
}
#hot-right-now {
    width: 360px;
    height: 73px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Poppins Bold", "Poppins", sans-serif;
    font-weight: 700;
    color: #333333;
    text-align: left;
    line-height: normal;
}
#image {
    width: 720px;
    height: 421px;
    background-image: [object Object];
    box-sizing: border-box;
}
#category-box {
    width: 108px;
    height: 47px;
    background-color: #ffffff;
}
#top-guide {
    width: 600px;
    height: 498px;
    background-color: #ffffff;
}
#top-review-this-week {
    width: 560px;
    height: 73px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Poppins Bold", "Poppins", sans-serif;
    font-weight: 700;
    color: #333333;
    text-align: left;
    line-height: normal;
}
#text-over-image-move {
    width: 600px;
    height: 420px;
    padding: 2px 2px 2px 2px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
}
#category-box {
    width: 108px;
    height: 47px;
    background-color: #ffffff;
}
#latest-news {
    width: 1380px;
    height: 785px;
    background-color: #ffffff;
}
#news-item-1 {
    width: 304px;
    height: 363px;
    background-color: #ffffff;
}
#image {
    width: 304px;
    height: 220px;
    background-image: [object Object];
    box-sizing: border-box;
}
#battlefield-3-after {
    width: 300px;
    height: 143px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Poppins Bold", "Poppins", sans-serif;
    font-weight: 700;
    color: #333333;
    text-align: left;
    line-height: normal;
}
#battlefield-3-after:hover {
    box-sizing: border-box;
    color: #d9001b;
}
#news-item-2 {
    width: 300px;
    height: 363px;
    background-color: #ffffff;
}
#image {
    width: 300px;
    height: 220px;
    background-image: [object Object];
    box-sizing: border-box;
}
#among-us---how-will {
    width: 300px;
    height: 143px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Poppins Bold", "Poppins", sans-serif;
    font-weight: 700;
    color: #333333;
    text-align: left;
    line-height: normal;
}
#among-us---how-will:hover {
    box-sizing: border-box;
    color: #d9001b;
}
#news-item-3 {
    width: 300px;
    height: 363px;
    background-color: #ffffff;
}
#image {
    width: 300px;
    height: 220px;
    background-image: [object Object];
    box-sizing: border-box;
}
#are-you-a-gamer-dino {
    width: 300px;
    height: 143px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Poppins Bold", "Poppins", sans-serif;
    font-weight: 700;
    color: #333333;
    text-align: left;
    line-height: normal;
}
#are-you-a-gamer-dino:hover {
    box-sizing: border-box;
    color: #d9001b;
}
#news-item-4 {
    width: 300px;
    height: 363px;
    background-color: #ffffff;
}
#image {
    width: 300px;
    height: 220px;
    background-image: [object Object];
    box-sizing: border-box;
}
#asphalt-8-on---andro {
    width: 300px;
    height: 143px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Poppins Bold", "Poppins", sans-serif;
    font-weight: 700;
    color: #333333;
    text-align: left;
    line-height: normal;
}
#asphalt-8-on---andro:hover {
    box-sizing: border-box;
    color: #d9001b;
}
#news-item-5 {
    width: 300px;
    height: 363px;
    background-color: #ffffff;
}
#image {
    width: 300px;
    height: 220px;
    background-image: [object Object];
    box-sizing: border-box;
}
#can-you-recognise-th {
    width: 300px;
    height: 143px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Poppins Bold", "Poppins", sans-serif;
    font-weight: 700;
    color: #333333;
    text-align: left;
    line-height: normal;
}
#can-you-recognise-th:hover {
    box-sizing: border-box;
    color: #d9001b;
}
#news-item-6 {
    width: 300px;
    height: 363px;
    background-color: #ffffff;
}
#image {
    width: 300px;
    height: 220px;
    background-image: [object Object];
    box-sizing: border-box;
}
#cities-skylines---wa {
    width: 300px;
    height: 143px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Poppins Bold", "Poppins", sans-serif;
    font-weight: 700;
    color: #333333;
    text-align: left;
    line-height: normal;
}
#cities-skylines---wa:hover {
    box-sizing: border-box;
    color: #d9001b;
}
#news-item-7 {
    width: 300px;
    height: 363px;
    background-color: #ffffff;
}
#image {
    width: 300px;
    height: 220px;
    background-image: [object Object];
    box-sizing: border-box;
}
#valve-announced-de_d {
    width: 300px;
    height: 143px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Poppins Bold", "Poppins", sans-serif;
    font-weight: 700;
    color: #333333;
    text-align: left;
    line-height: normal;
}
#valve-announced-de_d:hover {
    box-sizing: border-box;
    color: #d9001b;
}
#news-item-8 {
    width: 300px;
    height: 363px;
    background-color: #ffffff;
}
#image {
    width: 300px;
    height: 220px;
    background-image: [object Object];
    box-sizing: border-box;
}
#hours-and-hours-spen {
    width: 300px;
    height: 143px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Poppins Bold", "Poppins", sans-serif;
    font-weight: 700;
    color: #333333;
    text-align: left;
    line-height: normal;
}
#hours-and-hours-spen:hover {
    box-sizing: border-box;
    color: #d9001b;
}
#review-section {
    width: 1380px;
    height: 738px;
    background-color: #ffffff;
}
#our-latest-reviews {
    width: 480px;
    height: 72px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Poppins Bold", "Poppins", sans-serif;
    font-weight: 700;
    color: #333333;
    text-align: left;
    line-height: normal;
}
#image {
    width: 451px;
    height: 301px;
    background-image: [object Object];
    box-sizing: border-box;
}
#review-item-1 {
    width: 451px;
    height: 80px;
    background-color: #ffffff;
}
#text-over-image {
    width: 451px;
    height: 80px;
    background-color: #ffffff;
}
#ea-sports-fc-25 {
    width: 353px;
    height: 68px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Poppins Medium", "Poppins", sans-serif;
    font-weight: 500;
    color: #ffffff;
    text-align: left;
    line-height: normal;
}
#shape {
    width: 78px;
    height: 64px;
    padding: 2px 2px 2px 2px;
    border: 1px solid rgba(121, 121, 121, 0);
    background-image: linear-gradient(90deg, #caf982 0%, #95f204 97.84075573549252%);
    box-sizing: border-box;
}
#7 {
    width: 50px;
    height: 65px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Poppins ExtraBold Italic", "Poppins", sans-serif;
    font-style: italic;
    font-weight: 800;
    color: #333333;
    text-align: left;
    line-height: normal;
}
#image {
    width: 451px;
    height: 301px;
    background-image: [object Object];
    box-sizing: border-box;
}
#text-over-image {
    width: 451px;
    height: 81px;
    background-color: #ffffff;
}
#asphalt-8---mobile-v {
    width: 353px;
    height: 68px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Poppins Medium", "Poppins", sans-serif;
    font-weight: 500;
    color: #ffffff;
    text-align: left;
    line-height: normal;
}
#shape {
    width: 78px;
    height: 64px;
    padding: 2px 2px 2px 2px;
    background-image: linear-gradient(90deg, #ec808d 0%, #d9001b 97.84075573549251%);
    box-sizing: border-box;
}
#4 {
    width: 50px;
    height: 65px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Poppins ExtraBold Italic", "Poppins", sans-serif;
    font-style: italic;
    font-weight: 800;
    color: #333333;
    text-align: left;
    line-height: normal;
}
#image {
    width: 451px;
    height: 301px;
    background-image: [object Object];
    box-sizing: border-box;
}
#review-item-3 {
    width: 451px;
    height: 81px;
    background-color: #ffffff;
}
#text-over-image {
    width: 451px;
    height: 81px;
    background-color: #ffffff;
}
#horizon-zero-dawn {
    width: 353px;
    height: 68px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Poppins Medium", "Poppins", sans-serif;
    font-weight: 500;
    color: #ffffff;
    text-align: left;
    line-height: normal;
}
#description-text-bg {
    width: 451px;
    height: 81px;
    padding: 2px 2px 2px 2px;
    background-color: rgba(0, 0, 0, 0.34);
    box-sizing: border-box;
}
#shape {
    width: 78px;
    height: 64px;
    padding: 2px 2px 2px 2px;
    background-image: linear-gradient(90deg, #facd91 0%, #f59a23 97.84075573549251%);
    box-sizing: border-box;
}
#6 {
    width: 50px;
    height: 65px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Poppins ExtraBold Italic", "Poppins", sans-serif;
    font-style: italic;
    font-weight: 800;
    color: #333333;
    text-align: left;
    line-height: normal;
}
#image {
    width: 451px;
    height: 301px;
    background-image: [object Object];
    box-sizing: border-box;
}
#review-item-4 {
    width: 451px;
    height: 80px;
    background-color: #ffffff;
}
#grand-theft-auto-vi {
    width: 353px;
    height: 68px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Poppins Medium", "Poppins", sans-serif;
    font-weight: 500;
    color: #ffffff;
    text-align: left;
    line-height: normal;
}
#shape {
    width: 78px;
    height: 64px;
    padding: 2px 2px 2px 2px;
    background-image: linear-gradient(90deg, #81d3f8 0%, #02a7f0 97.84075573549252%);
    box-sizing: border-box;
}
#9 {
    width: 50px;
    height: 65px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Poppins ExtraBold Italic", "Poppins", sans-serif;
    font-style: italic;
    font-weight: 800;
    color: #333333;
    text-align: left;
    line-height: normal;
}
#image {
    width: 451px;
    height: 302px;
    background-image: [object Object];
    box-sizing: border-box;
}
#review-item-5 {
    width: 451px;
    height: 81px;
    background-color: #ffffff;
}
#text-over-image {
    width: 451px;
    height: 81px;
    background-color: #ffffff;
}
#call-of-duty--modern {
    width: 353px;
    height: 68px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Poppins Medium", "Poppins", sans-serif;
    font-weight: 500;
    color: #ffffff;
    text-align: left;
    line-height: normal;
}
#shape {
    width: 78px;
    height: 64px;
    padding: 2px 2px 2px 2px;
    background-image: linear-gradient(90deg, #facd91 0%, #f59a23 97.84075573549251%);
    box-sizing: border-box;
}
#5 {
    width: 50px;
    height: 65px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Poppins ExtraBold Italic", "Poppins", sans-serif;
    font-style: italic;
    font-weight: 800;
    color: #333333;
    text-align: left;
    line-height: normal;
}
#image {
    width: 451px;
    height: 301px;
    background-image: [object Object];
    box-sizing: border-box;
}
#review-item-6 {
    width: 451px;
    height: 81px;
    background-color: #ffffff;
}
#text-over-image {
    width: 451px;
    height: 81px;
    background-color: #ffffff;
}
#cities--skylines {
    width: 353px;
    height: 68px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Poppins Medium", "Poppins", sans-serif;
    font-weight: 500;
    color: #ffffff;
    text-align: left;
    line-height: normal;
}
#shape {
    width: 78px;
    height: 64px;
    padding: 2px 2px 2px 2px;
    background-image: linear-gradient(90deg, #caf982 0%, #95f204 97.84075573549251%);
    box-sizing: border-box;
}
#8 {
    width: 50px;
    height: 65px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Poppins ExtraBold Italic", "Poppins", sans-serif;
    font-style: italic;
    font-weight: 800;
    color: #333333;
    text-align: left;
    line-height: normal;
}
#articles {
    width: 974px;
    height: 1508px;
    background-color: #ffffff;
}
#tab-labels {
    width: 383px;
    height: 40px;
    background-color: #ffffff;
}
#tab-label-1 {
    width: 105px;
    height: 40px;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    background-color: #910012;
    box-sizing: border-box;
    font-family: "Poppins Medium", "Poppins", sans-serif;
    font-weight: 500;
    color: #ffffff;
    text-align: center;
    line-height: normal;
}
#tab-label-1:hover {
    background-color: #910012;
    box-sizing: border-box;
}
#tab-label-1:checked {
    background-color: #910012;
    box-sizing: border-box;
}
#tab-label-2 {
    width: 105px;
    height: 40px;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    background-color: #d9001b;
    box-sizing: border-box;
    font-family: "Poppins Medium", "Poppins", sans-serif;
    font-weight: 500;
    color: #ffffff;
    text-align: center;
    line-height: normal;
}
#tab-label-2:hover {
    background-color: #910012;
    box-sizing: border-box;
}
#tab-label-2:checked {
    background-color: #910012;
    box-sizing: border-box;
}
#tab-label-3 {
    width: 150px;
    height: 40px;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    background-color: #d9001b;
    box-sizing: border-box;
    font-family: "Poppins Medium", "Poppins", sans-serif;
    font-weight: 500;
    color: #ffffff;
    text-align: center;
    line-height: normal;
}
#tab-label-3:hover {
    background-color: #910012;
    box-sizing: border-box;
}
#tab-label-3:checked {
    background-color: #910012;
    box-sizing: border-box;
}
#tab-panels {
    width: 974px;
    height: 1467px;
    padding: 2px 2px 2px 2px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
}
#article-item-1 {
    width: 925px;
    height: 175px;
    background-color: #ffffff;
}
#let-s-check-your-kn {
    width: 925px;
    height: 170px;
    background-color: #ffffff;
}
#image {
    width: 183px;
    height: 170px;
    background-image: [object Object];
    box-sizing: border-box;
}
#game {
    width: 61px;
    height: 32px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Poppins Light Italic", "Poppins", sans-serif;
    font-style: italic;
    font-weight: 300;
    color: #d9001b;
    text-align: left;
    line-height: normal;
}
#let-s-check-your-kno {
    width: 656px;
    height: 32px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Poppins Bold", "Poppins", sans-serif;
    font-weight: 700;
    color: #333333;
    text-align: left;
    line-height: normal;
}
#let-s-check-your-kno:hover {
    box-sizing: border-box;
    color: #d9001b;
}
#lorem-ipsum-dolor-si {
    width: 734px;
    height: 73px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Poppins Light", "Poppins", sans-serif;
    font-weight: 300;
    color: #333333;
    text-align: left;
    line-height: normal;
}
#written-by-steve-job {
    width: 450px;
    height: 30px;
    background-color: #ffffff;
}
#published-2-days-ago {
    width: 344px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Poppins Light", "Poppins", sans-serif;
    font-weight: 300;
    color: #aaaaaa;
    text-align: right;
    line-height: normal;
}
#article-item-2 {
    width: 925px;
    height: 235px;
    background-color: #ffffff;
}
#is-cd-projekt-red-o {
    width: 925px;
    height: 170px;
    background-color: #ffffff;
}
#image {
    width: 183px;
    height: 170px;
    background-image: [object Object];
    box-sizing: border-box;
}
#news {
    width: 54px;
    height: 32px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Poppins Light Italic", "Poppins", sans-serif;
    font-style: italic;
    font-weight: 300;
    color: #d9001b;
    text-align: left;
    line-height: normal;
}
#is-cd-projekt-red-on {
    width: 550px;
    height: 32px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Poppins Bold", "Poppins", sans-serif;
    font-weight: 700;
    color: #333333;
    text-align: left;
    line-height: normal;
}
#is-cd-projekt-red-on:hover {
    box-sizing: border-box;
    color: #d9001b;
}
#lorem-ipsum-dolor-si {
    width: 734px;
    height: 73px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Poppins Light", "Poppins", sans-serif;
    font-weight: 300;
    color: #333333;
    text-align: left;
    line-height: normal;
}
#written-by-steve-job {
    width: 450px;
    height: 30px;
    background-color: #ffffff;
}
#published-9-hours-ag {
    width: 344px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Poppins Light", "Poppins", sans-serif;
    font-weight: 300;
    color: #aaaaaa;
    text-align: right;
    line-height: normal;
}
#article-item-3 {
    width: 925px;
    height: 175px;
    background-color: #ffffff;
}
#how-to-run-fortnite {
    width: 925px;
    height: 170px;
    background-color: #ffffff;
}
#image {
    width: 183px;
    height: 170px;
    background-image: [object Object];
    box-sizing: border-box;
}
#guide {
    width: 59px;
    height: 32px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Poppins Light Italic", "Poppins", sans-serif;
    font-style: italic;
    font-weight: 300;
    color: #d9001b;
    text-align: left;
    line-height: normal;
}
#how-to-run-fortnite {
    width: 326px;
    height: 32px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Poppins Bold", "Poppins", sans-serif;
    font-weight: 700;
    color: #333333;
    text-align: left;
    line-height: normal;
}
#how-to-run-fortnite:hover {
    box-sizing: border-box;
    color: #d9001b;
}
#lorem-ipsum-dolor-si {
    width: 734px;
    height: 73px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Poppins Light", "Poppins", sans-serif;
    font-weight: 300;
    color: #333333;
    text-align: left;
    line-height: normal;
}
#written-by-steve-job {
    width: 450px;
    height: 30px;
    background-color: #ffffff;
}
#published-5-days-ago {
    width: 344px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Poppins Light", "Poppins", sans-serif;
    font-weight: 300;
    color: #aaaaaa;
    text-align: right;
    line-height: normal;
}
#article-item-4 {
    width: 925px;
    height: 235px;
    background-color: #ffffff;
}
#cities-skylines---g {
    width: 925px;
    height: 170px;
    background-color: #ffffff;
}
#image {
    width: 183px;
    height: 170px;
    background-image: [object Object];
    box-sizing: border-box;
}
#review {
    width: 68px;
    height: 32px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Poppins Light Italic", "Poppins", sans-serif;
    font-style: italic;
    font-weight: 300;
    color: #d9001b;
    text-align: left;
    line-height: normal;
}
#cities-skylines---gr {
    width: 665px;
    height: 32px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Poppins Bold", "Poppins", sans-serif;
    font-weight: 700;
    color: #333333;
    text-align: left;
    line-height: normal;
}
#cities-skylines---gr:hover {
    box-sizing: border-box;
    color: #d9001b;
}
#lorem-ipsum-dolor-si {
    width: 734px;
    height: 73px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Poppins Light", "Poppins", sans-serif;
    font-weight: 300;
    color: #333333;
    text-align: left;
    line-height: normal;
}
#written-by-steve-job {
    width: 450px;
    height: 30px;
    background-color: #ffffff;
}
#published-5-hours-ag {
    width: 344px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Poppins Light", "Poppins", sans-serif;
    font-weight: 300;
    color: #aaaaaa;
    text-align: right;
    line-height: normal;
}
#article-item-5 {
    width: 925px;
    height: 175px;
    background-color: #ffffff;
}
#now-i-m-only-a-bus {
    width: 925px;
    height: 170px;
    background-color: #ffffff;
}
#image {
    width: 183px;
    height: 170px;
    background-image: [object Object];
    box-sizing: border-box;
}
#game {
    width: 61px;
    height: 32px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Poppins Light Italic", "Poppins", sans-serif;
    font-style: italic;
    font-weight: 300;
    color: #d9001b;
    text-align: left;
    line-height: normal;
}
#now-i-m-only-a-bus-d {
    width: 543px;
    height: 32px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Poppins Bold", "Poppins", sans-serif;
    font-weight: 700;
    color: #333333;
    text-align: left;
    line-height: normal;
}
#now-i-m-only-a-bus-d:hover {
    box-sizing: border-box;
    color: #d9001b;
}
#lorem-ipsum-dolor-si {
    width: 734px;
    height: 73px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Poppins Light", "Poppins", sans-serif;
    font-weight: 300;
    color: #333333;
    text-align: left;
    line-height: normal;
}
#written-by-steve-job {
    width: 450px;
    height: 30px;
    background-color: #ffffff;
}
#published-8-days-ago {
    width: 344px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Poppins Light", "Poppins", sans-serif;
    font-weight: 300;
    color: #aaaaaa;
    text-align: right;
    line-height: normal;
}
#article-item-6 {
    width: 925px;
    height: 235px;
    background-color: #ffffff;
}
#which-one-to-pick {
    width: 925px;
    height: 170px;
    background-color: #ffffff;
}
#lorem-ipsum-dolor-si {
    width: 734px;
    height: 73px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Poppins Light", "Poppins", sans-serif;
    font-weight: 300;
    color: #333333;
    text-align: left;
    line-height: normal;
}
#written-by-steve-job {
    width: 450px;
    height: 30px;
    background-color: #ffffff;
}
#published-9-days-ago {
    width: 344px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Poppins Light", "Poppins", sans-serif;
    font-weight: 300;
    color: #aaaaaa;
    text-align: right;
    line-height: normal;
}
#article-item-7 {
    width: 925px;
    height: 175px;
    background-color: #ffffff;
}
#urban-smog-on-the-s {
    width: 925px;
    height: 170px;
    background-color: #ffffff;
}
#image {
    width: 183px;
    height: 170px;
    background-image: [object Object];
    box-sizing: border-box;
}
#news {
    width: 54px;
    height: 32px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Poppins Light Italic", "Poppins", sans-serif;
    font-style: italic;
    font-weight: 300;
    color: #d9001b;
    text-align: left;
    line-height: normal;
}
#urban-smog-on-the-st {
    width: 539px;
    height: 32px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Poppins Bold", "Poppins", sans-serif;
    font-weight: 700;
    color: #333333;
    text-align: left;
    line-height: normal;
}
#urban-smog-on-the-st:hover {
    box-sizing: border-box;
    color: #d9001b;
}
#lorem-ipsum-dolor-si {
    width: 734px;
    height: 73px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Poppins Light", "Poppins", sans-serif;
    font-weight: 300;
    color: #333333;
    text-align: left;
    line-height: normal;
}
#written-by-steve-job {
    width: 450px;
    height: 30px;
    background-color: #ffffff;
}
#published-10-hours-a {
    width: 344px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Poppins Light", "Poppins", sans-serif;
    font-weight: 300;
    color: #aaaaaa;
    text-align: right;
    line-height: normal;
}
#newsletter {
    width: 1395px;
    height: 285px;
    background-color: #ffffff;
}
#rectangle {
    width: 1380px;
    height: 270px;
    padding: 2px 2px 2px 2px;
    border: 1px solid rgba(121, 121, 121, 0);
    background-color: #000000;
    box-sizing: border-box;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.35);
}
#the-latest-gaming-ne {
    width: 829px;
    height: 43px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Poppins Bold", "Poppins", sans-serif;
    font-weight: 700;
    color: #ffffff;
    text-align: left;
    line-height: normal;
}
#be-updated-with-the {
    width: 1109px;
    height: 31px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Poppins Light", "Poppins", sans-serif;
    font-weight: 300;
    color: #ffffff;
    text-align: left;
    line-height: normal;
}
#rectangle {
    width: 1380px;
    height: 270px;
    padding: 2px 2px 2px 2px;
    border: 1px solid rgba(121, 121, 121, 0);
    background-color: #000000;
    box-sizing: border-box;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.35);
}
#sign-up-for-the-news {
    width: 489px;
    height: 62px;
    padding: 2px 2px 2px 2px;
    border: 1px solid rgba(121, 121, 121, 0);
    background-color: #d9001b;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: #ffffff;
    text-align: center;
    line-height: normal;
}
#sign-up-for-the-news:hover {
    background-color: #910012;
    box-sizing: border-box;
}
#by-submitting-your-i {
    width: 707px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Poppins Light", "Poppins", sans-serif;
    font-weight: 300;
    color: #ffffff;
    text-align: left;
    line-height: normal;
}
#footer {
    width: 1920px;
    height: 167px;
    padding: 2px 2px 2px 2px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
}
#icons {
    width: 309px;
    height: 60px;
    background-color: #ffffff;
}
#facebook {
    width: 60px;
    height: 60px;
    background-color: #ffffff;
}
#instagram {
    width: 60px;
    height: 60px;
    background-color: #ffffff;
}
#twitter {
    width: 60px;
    height: 60px;
    background-color: #ffffff;
}
#you-tube {
    width: 60px;
    height: 60px;
    background-color: #ffffff;
}
#footer-menu {
    width: 1035px;
    height: 20px;
    background-color: #ffffff;
}
#news {
    width: 37px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: #ffffff;
    text-align: left;
    line-height: normal;
}
#news:hover {
    box-sizing: border-box;
    color: #aaaaaa;
}
#games {
    width: 46px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: #ffffff;
    text-align: left;
    line-height: normal;
}
#games:hover {
    box-sizing: border-box;
    color: #aaaaaa;
}
#reviews {
    width: 53px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: #ffffff;
    text-align: left;
    line-height: normal;
}
#reviews:hover {
    box-sizing: border-box;
    color: #aaaaaa;
}
#technology {
    width: 76px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: #ffffff;
    text-align: left;
    line-height: normal;
}
#technology:hover {
    box-sizing: border-box;
    color: #aaaaaa;
}
#events {
    width: 43px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: #ffffff;
    text-align: left;
    line-height: normal;
}
#events:hover {
    box-sizing: border-box;
    color: #aaaaaa;
}
#about-us {
    width: 62px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: #ffffff;
    text-align: left;
    line-height: normal;
}
#about-us:hover {
    box-sizing: border-box;
    color: #aaaaaa;
}
#terms-of-use {
    width: 85px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: #ffffff;
    text-align: left;
    line-height: normal;
}
#terms-of-use:hover {
    box-sizing: border-box;
    color: #aaaaaa;
}
#privacy-policy {
    width: 89px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: #ffffff;
    text-align: left;
    line-height: normal;
}
#privacy-policy:hover {
    box-sizing: border-box;
    color: #aaaaaa;
}
#bg-footer {
    width: 1920px;
    height: 39px;
    padding: 2px 2px 2px 2px;
    background-color: #000000;
    box-sizing: border-box;
}
#copyright---2024--th {
    width: 212px;
    height: 14px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: #f2f2f2;
    text-align: left;
    line-height: normal;
}
#authors--samuel-brab {
    width: 330px;
    height: 14px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: #f2f2f2;
    text-align: left;
    line-height: normal;
}
#just-released {
    width: 353px;
    height: 1483px;
    background-color: #ffffff;
}
#just-released {
    width: 353px;
    height: 72px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Poppins Bold", "Poppins", sans-serif;
    font-weight: 700;
    color: #333333;
    text-align: left;
    line-height: normal;
}
#item-1 {
    width: 330px;
    height: 190px;
    background-color: #ffffff;
}
#image {
    width: 176px;
    height: 190px;
    border-radius: 18px;
    background-image: [object Object];
    box-sizing: border-box;
}
#game-game-2 {
    width: 143px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Poppins Medium", "Poppins", sans-serif;
    font-weight: 500;
    color: #333333;
    text-align: left;
    line-height: normal;
}
#pc {
    width: 27px;
    height: 27px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Poppins Bold", "Poppins", sans-serif;
    font-weight: 700;
    color: #ffffff;
    text-align: left;
    line-height: normal;
}
#rectangle {
    width: 35px;
    height: 35px;
    padding: 2px 2px 2px 2px;
    border-radius: 9px;
    background-color: #000000;
    box-sizing: border-box;
}
#rectangle {
    width: 35px;
    height: 35px;
    padding: 2px 2px 2px 2px;
    border-radius: 9px;
    background-color: #000000;
    box-sizing: border-box;
}
#ps {
    width: 27px;
    height: 27px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Poppins Bold", "Poppins", sans-serif;
    font-weight: 700;
    color: #ffffff;
    text-align: left;
    line-height: normal;
}
#today {
    width: 143px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Poppins Italic", "Poppins", sans-serif;
    font-style: italic;
    color: #333333;
    text-align: left;
    line-height: normal;
}

