
#header-phone {
    width: 320px;
    height: 40px;
    padding: 2px 2px 2px 2px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
}

#image {
    width: 35px;
    height: 35px;
    box-sizing: border-box;
}

#czugamer-cz {
    width: 102px;
    height: 40px;
    background-color: #ffffff;
}

#buttons {
    width: 419px;
    height: 17px;
    padding: 2px 2px 2px 2px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
}

#recent {
    width: 65px;
    height: 17px;
    padding: 2px 2px 2px 2px;
    border-radius: 33px;
    border: 1px solid #797979;
    background-color: #d9001b;
    box-sizing: border-box;
    font-family: "Poppins Medium", "Poppins", sans-serif;
    font-weight: 500;
    color: #ffffff;
    text-align: center;
    line-height: normal;
}

#recent:hover {
    background-color: #d9001b;
    box-sizing: border-box;
    color: #ffffff;
}
#recent:checked {
    background-color: #d9001b;
    box-sizing: border-box;
    color: #ffffff;
}

#news {
    width: 65px;
    height: 17px;
    padding: 2px 2px 2px 2px;
    border-radius: 33px;
    border: 1px solid #797979;
    background-color: #ffffff;
    box-sizing: border-box;
    font-family: "Poppins Medium", "Poppins", sans-serif;
    font-weight: 500;
    color: #333333;
    text-align: center;
    line-height: normal;
}

#news:hover {
    background-color: #d9001b;
    box-sizing: border-box;
    color: #ffffff;
}
#news:checked {
    background-color: #d9001b;
    box-sizing: border-box;
    color: #ffffff;
}

#games {
    width: 65px;
    height: 17px;
    padding: 2px 2px 2px 2px;
    border-radius: 33px;
    border: 1px solid #797979;
    background-color: #ffffff;
    box-sizing: border-box;
    font-family: "Poppins Medium", "Poppins", sans-serif;
    font-weight: 500;
    color: #333333;
    text-align: center;
    line-height: normal;
}
#games:hover {
    background-color: #d9001b;
    box-sizing: border-box;
    color: #ffffff;
}
#games:checked {
    background-color: #d9001b;
    box-sizing: border-box;
    color: #ffffff;
}

#reviews {
    width: 65px;
    height: 17px;
    padding: 2px 2px 2px 2px;
    border-radius: 33px;
    border: 1px solid #797979;
    background-color: #ffffff;
    box-sizing: border-box;
    font-family: "Poppins Medium", "Poppins", sans-serif;
    font-weight: 500;
    color: #333333;
    text-align: center;
    line-height: normal;
}
#reviews:hover {
    background-color: #d9001b;
    box-sizing: border-box;
    color: #ffffff;
}
#reviews:checked {
    background-color: #d9001b;
    box-sizing: border-box;
    color: #ffffff;
}

#tabs {
    width: 266px;
    height: 1274px;
    padding: 2px 2px 2px 2px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
}

#item-1 {
    width: 266px;
    height: 187px;
    background-color: #ffffff;
}

#image {
    width: 266px;
    height: 137px;
    border-radius: 26px;
    box-sizing: border-box;
}

#text-spot {
    width: 266px;
    height: 80px;
    background-color: #ffffff;
}

/*Content: Former CEO of Nokia concerned about ecology*/

#former-ceo-of-nokia {
    width: 246px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Poppins Bold", "Poppins", sans-serif;
    font-weight: 700;
    color: #333333;
    text-align: left;
    line-height: normal;
}

#former-ceo-of-nokia:hover {
    box-sizing: border-box;
    color: #d9001b;
}
/*Content: by Steve Jobs*/
#by-steve-jobs {
    width: 92px;
    height: 16px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Poppins ExtraLight", "Poppins", sans-serif;
    font-weight: 250;
    color: #d9001b;
    text-align: left;
    line-height: normal;
}

/*Content: News*/
#news {
    width: 70px;
    height: 16px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Poppins Medium", "Poppins", sans-serif;
    font-weight: 500;
    color: #d9001b;
    text-align: left;
    line-height: normal;
}

/*Content: 1 hours ago*/
#1-hours-ago {
    width: 70px;
    height: 16px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Poppins Medium", "Poppins", sans-serif;
    font-weight: 500;
    color: #aaaaaa;
    text-align: left;
    line-height: normal;
}

#image {
    width: 266px;
    height: 187px;
    border-radius: 26px;
    box-sizing: border-box;
}

#item-2 {
    width: 266px;
    height: 187px;
    background-color: #ffffff;
}

/*Content: Game Game 2 - fresh release*/
#game-game-2----fresh {
    width: 246px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Poppins Bold", "Poppins", sans-serif;
    font-weight: 700;
    color: #333333;
    text-align: left;
    line-height: normal;
}
#game-game-2----fresh:hover {
    box-sizing: border-box;
    color: #d9001b;
}

/*Content: by Steve Jobs*/
#by-steve-jobs {
    width: 92px;
    height: 16px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Poppins ExtraLight", "Poppins", sans-serif;
    font-weight: 250;
    color: #d9001b;
    text-align: left;
    line-height: normal;
}

/*Content: Games*/
#games {
    width: 70px;
    height: 16px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Poppins Medium", "Poppins", sans-serif;
    font-weight: 500;
    color: #d9001b;
    text-align: left;
    line-height: normal;
}
/*Content: 2 hours ago*/
#2-hours-ago {
    width: 70px;
    height: 16px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Poppins Medium", "Poppins", sans-serif;
    font-weight: 500;
    color: #aaaaaa;
    text-align: left;
    line-height: normal;
}

#item-3 {
    width: 266px;
    height: 187px;
    background-color: #ffffff;
}

#image {
    width: 266px;
    height: 137px;
    border-radius: 26px;
    box-sizing: border-box;
}
/*Content: Tesco Piwko Sim - fresh release*/
#tesco-piwko-sim---fr {
    width: 246px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Poppins Bold", "Poppins", sans-serif;
    font-weight: 700;
    color: #333333;
    text-align: left;
    line-height: normal;
}

#tesco-piwko-sim---fr:hover {
    box-sizing: border-box;
    color: #d9001b;
}

/*Content: by Steve Jobs*/
#by-steve-jobs {
    width: 92px;
    height: 16px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Poppins ExtraLight", "Poppins", sans-serif;
    font-weight: 250;
    color: #d9001b;
    text-align: left;
    line-height: normal;
}

/*Content: Games*/
#games {
    width: 77px;
    height: 16px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Poppins Medium", "Poppins", sans-serif;
    font-weight: 500;
    color: #d9001b;
    text-align: left;
    line-height: normal;
}

/*Content:2 hours ago*/
#2-hours-ago {
    width: 70px;
    height: 16px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Poppins Medium", "Poppins", sans-serif;
    font-weight: 500;
    color: #aaaaaa;
    text-align: left;
    line-height: normal;
}

#item-4 {
    width: 266px;
    height: 187px;
    background-color: #ffffff;
}

#image {
    width: 266px;
    height: 147px;
    border-radius: 26px;
    box-sizing: border-box;
}

/*Content: Cities Skylines - greatest city simulator of all times? Review*/
#cities-skylines---gr {
    width: 246px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Poppins Bold", "Poppins", sans-serif;
    font-weight: 700;
    color: #333333;
    text-align: left;
    line-height: normal;
}

#cities-skylines---gr:hover {
    box-sizing: border-box;
    color: #d9001b;
}

/*Content: by Steve Jobs */
#by-steve-jobs {
    width: 92px;
    height: 16px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Poppins ExtraLight", "Poppins", sans-serif;
    font-weight: 250;
    color: #d9001b;
    text-align: left;
    line-height: normal;
}

/*Content: Reviews*/
#reviews {
    width: 70px;
    height: 16px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Poppins Medium", "Poppins", sans-serif;
    font-weight: 500;
    color: #d9001b;
    text-align: left;
    line-height: normal;
}

/*Content: 5 hours ago*/
#5-hours-ago {
    width: 70px;
    height: 16px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Poppins Medium", "Poppins", sans-serif;
    font-weight: 500;
    color: #aaaaaa;
    text-align: left;
    line-height: normal;
}

#item-5 {
    width: 266px;
    height: 187px;
    background-color: #ffffff;
}

/*Content: Super Game - fresh release*/

#super-game---fresh-r {
    width: 246px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Poppins Bold", "Poppins", sans-serif;
    font-weight: 700;
    color: #333333;
    text-align: left;
    line-height: normal;
}
#super-game---fresh-r:hover {
    box-sizing: border-box;
    color: #d9001b;
}
/*Content: by Steve Jobs*/
#by-steve-jobs {
    width: 92px;
    height: 16px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Poppins ExtraLight", "Poppins", sans-serif;
    font-weight: 250;
    color: #d9001b;
    text-align: left;
    line-height: normal;
}

/*Content: Games*/

#games {
    width: 70px;
    height: 16px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Poppins Medium", "Poppins", sans-serif;
    font-weight: 500;
    color: #d9001b;
    text-align: left;
    line-height: normal;
}

/*Content: 6 hours ago*/
#6-hours-ago {
    width: 70px;
    height: 16px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Poppins Medium", "Poppins", sans-serif;
    font-weight: 500;
    color: #aaaaaa;
    text-align: left;
    line-height: normal;
}

#item-6 {
    width: 266px;
    height: 187px;
    background-color: #ffffff;
}
/*Content: Is CD Projekt Red on a straight way to be closed?*/

#is-cd-projekt-red-on {
    width: 246px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Poppins Bold", "Poppins", sans-serif;
    font-weight: 700;
    color: #333333;
    text-align: left;
    line-height: normal;
}
#is-cd-projekt-red-on:hover {
    box-sizing: border-box;
    color: #d9001b;
}

/*Content: by Steve Jobs*/
#by-steve-jobs {
    width: 92px;
    height: 16px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Poppins ExtraLight", "Poppins", sans-serif;
    font-weight: 250;
    color: #d9001b;
    text-align: left;
    line-height: normal;
}

/*Content: News*/

#news {
    width: 77px;
    height: 16px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Poppins Medium", "Poppins", sans-serif;
    font-weight: 500;
    color: #d9001b;
    text-align: left;
    line-height: normal;
}

/*Content: 9 hours ago*/
#9-hours-ago {
    width: 70px;
    height: 16px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Poppins Medium", "Poppins", sans-serif;
    font-weight: 500;
    color: #aaaaaa;
    text-align: left;
    line-height: normal;
}

#footer-phone {
    width: 320px;
    height: 32px;
    padding: 2px 2px 2px 2px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
}
#footer {
    width: 320px;
    height: 32px;
    background-color: #ffffff;
    box-sizing: border-box;
}

/*Search bar*/
#search-bar {
    width: 320px;
    height: 32px;
    padding: 2px 2px 2px 2px;
    background-color: #000000;
    box-sizing: border-box;
}
#search-icon {
    width: 9px;
    height: 9px;
    padding: 2px 2px 2px 2px;
    background-color: #8c8c8c;
    box-sizing: border-box;
}
/*Newspaper icon*/
#newspaper-icon {
    width: 29px;
    height: 20px;
    padding: 2px 2px 2px 2px;
    background-color: #d9001b;
    box-sizing: border-box;
}

/*Profile icon*/
#profile-icon {
    width: 25px;
    height: 25px;
    padding: 2px 2px 2px 2px;
    background-color: #d9001b;
    box-sizing: border-box;
}
