@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
    --color-black: #000;
    --color-white: #fff;
    --color-red: #d0021b;
    --color-brand-red: #c00;
    --color-gray-light: #f2f2f2;
    --color-gray-medium: #777;
    --color-gray-dark: #333;

    --color-bg-primary: #fff;
    --color-bg-secondary: #000;
    --color-bg-highlight: #d0021b;
    --color-text-primary: #333;
    --color-text-secondary: #666;
    --color-text-invert: #fff;

    --font-family-base: 'Poppins', sans-serif;
    --font-size-base: 16px;
    --font-size-xxs: 0.75rem;
    --font-size-sm: 0.875rem;
    --font-size-md: 1rem;
    --font-size-lg: 1.25rem;
    --font-size-xl: 2rem;
    --font-size-xxl: 3rem;
    --font-weight-superlight: 50;
    --font-weight-light: 200;
    --font-weight-normal: 400;
    --font-weight-bold: 700;
    --font-weight-superbold: 800;

    --spacing-xxs: 0.25rem;
    --spacing-xs: 0.5rem;
    --spacing-sm: 1rem;
    --spacing-md: 1.5rem;
    --spacing-lg: 2rem;
    --spacing-xl: 3rem;
    --spacing-xxl: 4rem;

    --max-width: 1400px;
    --max-width-top: 1850px;

    /*Phone colors*/
    --main-color: #d9001b;
    --bg-color: #ffffff;
    --text-color: #333333;
    --light-grey: #aaaaaa;
    --border-color: #797979;

    --border-radius: 33px;
    --button-height: 30px;
    --button-width: 80px;
}

html {
    box-sizing: border-box;
    font-size: 100%;
    scroll-behavior: smooth;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: var(--font-family-base);
    font-size: var(--font-size-base);
    color: var(--color-text-primary);
    background-color: var(--color-bg-primary);
    line-height: 1.5;
    padding-top: 90px;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.credit-card-icon:hover {
    filter: brightness(0) saturate(100%) invert(64%) sepia(63%) saturate(7326%) hue-rotate(85deg) brightness(91%) contrast(108%);
}

.account-icon:hover {
    filter: brightness(0) saturate(100%) invert(20%) sepia(96%) saturate(7495%) hue-rotate(357deg) brightness(104%) contrast(112%);
}

a {
    text-decoration: none;
    color: inherit;
}

.wrapper {
    width: 100%;
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 0 var(--spacing-sm);
}

header {
    background-color: var(--color-bg-secondary);
    color: var(--color-white);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--spacing-sm) 0;
    max-width: var(--max-width-top)
}

.logo {
    display: flex;
    align-items: flex-end;
}

.logo img {
    height: 60px;
    width: auto;
}

.logo .site-name {
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-bold);
    color: var(--color-white);
    margin-bottom: 0;
}

nav[aria-label="Main navigation"] ul {
    display: flex;
    gap: var(--spacing-lg);
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
}

nav[aria-label="Main navigation"] a {
    color: var(--color-white);
    font-weight: var(--font-weight-normal);
    font-size: var(--font-size-lg);
    margin: 0 var(--spacing-xxl);
}

nav[aria-label="Main navigation"] a:hover {
    font-weight: var(--font-weight-normal);
    font-size: var(--font-size-lg);
    margin: 0 var(--spacing-xxl);
    color: var(--color-red);
}

.header-icons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: var(--spacing-xxl);
}

.header-icons .search-bar {
    position: relative;
    display: flex;
    align-items: center;
}

.header-icons .search-bar input[type="text"] {
    padding: var(--spacing-xs) var(--spacing-md);
    border: 1px solid var(--color-gray-light);
    border-radius: 4px;
    font-size: var(--font-size-sm);
}

.header-icons .search-bar .icon {
    position: absolute;
    right: var(--spacing-xs);
    display: flex;
    align-items: center;
}

.header-icons .search-bar .icon img {
    height: 16px;
    width: 16px;
}

.header-icons a img {
    height: 40px;
    width: 50px;
    display: block;
}

.secondary-nav {
    background-color: var(--color-bg-highlight);
}

.secondary-nav .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--spacing-sm) var(--spacing-lg);
    max-width: none;
    width: 100%;
}

.secondary-nav a {
    color: var(--color-white);
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-superlight);
    letter-spacing: normal;
}

.secondary-nav a:hover {
    color: var(--color-gray-medium);
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-superlight);
    letter-spacing: normal;
}

.secondary-nav a.active {
    font-weight: var(--font-weight-superbold);
    font-size: var(--font-size-md);
}

.featured-section {
    margin: var(--spacing-xl) 0;
}

.section-heading-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: var(--spacing-md);
}

.section-heading-row h1 {
    font-size: var(--font-size-xxl);
    font-weight: var(--font-weight-superbold);
    color: var(--color-gray-dark);
    margin-bottom: var(--spacing-sm);
}

.featured-grid {
    display: grid;
    gap: var(--spacing-md);
}

@media (min-width: 768px) {
    .featured-grid {
        grid-template-columns: 1fr 1fr;
    }
}

.featured-item {
    position: relative;
    border: 1px solid var(--color-gray-light);
    padding: var(--spacing-sm);
}

.featured-item img {
    aspect-ratio: 16/9;
    object-fit: cover;
}

.featured-item .tag {
    position: absolute;
    top: var(--spacing-sm);
    right: var(--spacing-sm);
    background: var(--color-black);
    color: var(--color-white);
    font-size: var(--font-size-lg);
    padding: var(--spacing-xxs) var(--spacing-xs);
    border-radius: 2px;
}

.featured-item .tag.review {
    background: var(--color-brand-red);
}

.featured-item h2 {
    margin-top: var(--spacing-sm);
    font-size: var(--font-size-lg);
}

.content-grid {
    display: grid;
    gap: var(--spacing-md);
    margin-bottom: var(--spacing-xl);
}

@media (min-width: 768px) {
    .content-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    .content-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

.content-grid article {
    border: 1px solid var(--color-gray-light);
    padding: var(--spacing-sm);
    display: flex;
    flex-direction: column;
}

.content-grid article:hover {
    border: 1px solid var(--color-gray-light);
    padding: var(--spacing-sm);
    display: flex;
    flex-direction: column;
    color: var(--color-red)
}

.content-grid article img {
    aspect-ratio: 4/3;
    object-fit: cover;
}

.content-grid article h3 {
    font-size: var(--font-size-md);
    margin: var(--spacing-sm) 0 var(--spacing-xs) 0;
    font-weight: var(--font-weight-bold);
}

.content-grid article p {
    font-size: var(--font-size-sm);
    color: var(--color-gray-dark);
}

.latest-reviews article {
    position: relative;
    overflow: hidden;
}

.latest-reviews article img {
    display: block;
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.latest-reviews article::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 25%;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.latest-reviews article p {
    position: absolute;
    bottom: 10px;
    left: 10px;
    margin: 0;
    color: var(--color-white);
    font-size: 1rem;
    z-index: 2;
    transition: color 0.3s ease;
}

.latest-reviews article:hover::after {
    opacity: 1;
}

.latest-reviews article:hover img {
    transform: scale(1.05);
}

.latest-reviews article:hover p {
    color: var(--color-red);
}

.review-grid {
    display: grid;
    gap: var(--spacing-md);
}

.review-grid:hover {
    display: grid;
    gap: var(--spacing-md);
}

@media (min-width: 768px) {
    .review-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1024px) {
    .review-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

.review-grid article {
    position: relative;
}

.review-grid article img {
    aspect-ratio: 4/3;
    object-fit: cover;
}

.review-grid article p {
    position: absolute;
    bottom: var(--spacing-sm);
    left: var(--spacing-sm);
    color: var(--color-white);
    font-weight: var(--font-weight-bold);
    text-shadow: 1px 1px var(--color-black);
}

.review-badge {
    position: absolute;
    bottom: var(--spacing-sm);
    right: var(--spacing-sm);
    background: var(--color-red);
    color: var(--color-white);
    padding: var(--spacing-xxs) var(--spacing-xs);
    font-weight: var(--font-weight-bold);
    border-radius: 4px;
    z-index: 3;
}

.tabs {
    display: flex;
    gap: var(--spacing-sm);
    margin-top: var(--spacing-lg);
    margin-bottom: var(--spacing-xs);
    flex-wrap: wrap;
}

.tabs button {
    font-family: var(--font-family-base);
    background: var(--color-red);
    border: none;
    color: var(--color-white);
    padding: var(--spacing-xs) var(--spacing-md);
    font-weight: var(--font-weight-bold);
    cursor: pointer;
    text-transform: uppercase;
}

.tabs button.active {
    text-decoration: underline;
}

.divider {
    height: 1px;
    background: var(--color-gray-medium);
    margin-bottom: var(--spacing-md);
}

.article-listing-group {
    margin-bottom: var(--spacing-xl);
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.article-listing {
    display: flex;
    gap: var(--spacing-sm);
    margin-bottom: var(--spacing-md);
    flex-wrap: wrap;
    transition: box-shadow 0.3s ease;
}

.article-link {
    display: block;
    text-decoration: none;
    color: inherit;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.article-link:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.article-link:hover h4 {
    color: var(--color-red);
}

.article-listing img {
    width: 240px;
    height: auto;
    aspect-ratio: 3/2;
    object-fit: cover;
}

.article-listing-content {
    flex: 1;
    min-width: 200px;
}

.article-listing-content .category {
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-light);
    color: var(--color-red);
}

.article-listing-content h4 {
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-bold);
    margin: var(--spacing-xxs) 0;
}

.article-listing-content p {
    font-size: var(--font-size-sm);
    color: var(--color-gray-dark);
    margin-bottom: var(--spacing-xxs);
}

.article-metadata {
    display: flex;
    justify-content: space-between;
    color: var(--color-gray-medium);
    font-size: var(--font-size-sm);
    flex-wrap: wrap;
}

.just-released-section {
    display: grid;
    gap: var(--spacing-md);
    margin-top: var(--spacing-xl);
    margin-bottom: var(--spacing-xl);
}

@media (min-width: 1024px) {
    .just-released-section {
        grid-template-columns: 2fr 1fr;
    }
}

.just-released {
    border: 1px solid var(--color-gray-light);
    padding: var(--spacing-sm);
}

.just-released h2 {
    font-size: var(--font-size-xxl);
    margin-bottom: var(--spacing-sm);
    font-weight: var(--font-weight-superbold)
}

.release-list {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
}

.release-card {
    display: flex;
    gap: var(--spacing-sm);
    align-items: center;
}

.release-card img {
    width: 120px;
    height: 120px;
    object-fit: cover;
}

.release-card-details h3 {
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-bold);
}

.platform-badges {
    display: flex;
    gap: var(--spacing-xxs);
    margin: var(--spacing-xxs) 0;
}

.platform-badge {
    background: var(--color-black);
    color: var(--color-white);
    padding: var(--spacing-xxs) var(--spacing-xs);
    border-radius: 2px;
    font-size: var(--font-size-sm);
}


.newsletter-section {
    background: var(--color-black);
    color: var(--color-white);
    text-align: center;
    padding: var(--spacing-sm) var(--spacing-sm);
    margin-top: var(--spacing-xl);
}

.newsletter-section h2 {
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-superbold);
    margin-bottom: var(--spacing-sm);
    text-transform: uppercase;
    letter-spacing: 1px;
}

.newsletter-section p {
    font-size: var(--font-size-lg);
    margin-bottom: var(--spacing-md);
}

.newsletter-form {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
    max-width: 400px;
    margin: 0 auto;
}

.newsletter-form input[type="email"] {
    padding: var(--spacing-sm);
    border: none;
    font-size: var(--font-size-md);
    width: 100%;
    box-sizing: border-box;
}

.newsletter-form button {
    background: var(--color-red);
    border: none;
    padding: var(--spacing-sm);
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-bold);
    cursor: pointer;
    color: var(--color-white);
    text-transform: uppercase;
    width: 100%;
    box-sizing: border-box;
}

.newsletter-note {
    font-size: var(--font-size-sm);
    margin-top: var(--spacing-sm);
    color: var(--color-gray-light);
}

.footer-top {
    background-color: var(--color-red); /* Red background */
    color: var(--color-white);
    text-align: center;
    padding: var(--spacing-sm) 0;
    margin-top: 40px;
}

.footer-top nav ul {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-xxl);
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-top nav a {
    color: var(--color-white);
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-light)
}

.footer-top nav a:hover {
    color: var(--color-gray-medium);
}

.footer-top .social-links {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}

.footer-bottom {
    background-color: var(--color-black);
    color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 10px 20px;
    font-size: var(--font-size-xxs);
}

.footer-bottom .copyright {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.footer-bottom .authors {
    margin-left: auto;
    white-space: nowrap;
    text-align: right;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: var(--spacing-sm);
}

.social-links a img {
    width: 60px;
    height: 60px;
    display: block;
    transition: transform 0.2s ease;
}

.social-links a img:hover {
    transform: scale(1.1);
}

.mobile-version,
.desktop-version {
    display: none;
}

@media (max-width: 768px) {
    .mobile-version {
        display: block;
    }
}

@media (min-width: 769px) {
    .desktop-version {
        display: block;
    }
}

/*MOBILE CSS>*/
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

input[type="radio"][name="tabs"] {
    display: none;
}

html, body {
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}

body {
    font-family: var(--font-family-base);
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.no-scroll {
    overflow: hidden;
}

main#tabs {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

#header-phone {
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 50px;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

.m-header-left {
    display: flex;
    align-items: center;
}

#header-image {
    width: 30px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#header-image img {
    width: auto;
    height: 100%;
    object-fit: contain;
}

#czugamer-cz {
    font-weight: var(--font-weight-bold);
    font-size: 10px;
    color: #ffffff;
    margin-left: 5px;
    align-self: flex-end;
}

#menu-icon {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#menu-icon img {
    width: 18px;
    height: 18px;
}

#menu {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    max-width: none;
    background-color: #f2f2f2;
    padding: 2px;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 5px 5px;
    overflow-y: auto;
    z-index: 1000;
    display: none;
    transition: max-height 0.3s ease-in-out;
    max-height: 0;
}

#menu.active {
    display: block;
    max-height: 1000px;
}

#menu a {
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    color: #333333;
    font-family: "Poppins Medium", "Poppins", sans-serif;
    font-weight: 500;
    text-align: left;
    line-height: normal;
    transition: background-color 0.2s, color 0.2s;
    background-color: #f2f2f2;
    border-bottom: 1px solid #e0e0e0;
}

#menu a:last-child {
    border-bottom: none;
}

#menu a:hover {
    background-color: #e0e0e0;
    color: #d9001b;
}

@media (max-width: 400px) {
    #menu {
        width: 100%;
        left: 0;
        border-radius: 0;
    }
}

#buttons {
    width: 100%;
    max-width: 360px;
    background-color: transparent;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;;
    margin: 15px auto;
    overflow-x: auto;
    white-space: nowrap;
}

#buttons::-webkit-scrollbar {
    display: none;
}

#buttons {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.m-tab-button {
    flex: 0 0 auto;
    min-width: var(--button-width);
    height: var(--button-height);
    padding: 5px 10px;
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color);
    background-color: var(--main-color);
    font-weight: 500;
    color: #ffffff;
    text-align: center;
    line-height: var(--button-height);
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
    font-size: 14px;
    white-space: nowrap;
}

.m-tab-button:hover {
    background-color: #a50014;
    color: #ffffff;
}

.m-tab-button.active {
    background-color: var(--main-color);
    color: #ffffff;
    border: 1px solid var(--main-color);
}

#tabs {
    width: 100%;
    max-width: 360px;
    padding: 10px;
    background-color: transparent;
    margin: 0 auto;
}

.m-tab-content {
    width: 100%;
}
.m-tab-content:target {
    display: block;
}

.m-tab-content.active {
    display: block;
}

.m-item {
    width: 100%;
    background-color: #ffffff;
    margin-bottom: 15px;
    border-radius: var(--border-radius);
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.m-item-image {
    width: 100%;
    height: 180px;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    overflow: hidden;
    background-color: #ccc;
}

.m-item-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.m-text-spot {
    width: 100%;
    background-color: #ffffff;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 5px;
    position: relative;
}

.m-headline {
    width: 100%;
    font-weight: var(--font-weight-bold);
    color: var(--text-color);
    text-align: left;
    line-height: 1.4;
    font-size: 16px;
    margin-bottom: 8px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.m-headline:hover {
    color: var(--main-color);
}

.m-author {
    width: auto;
    font-weight: var(--font-weight-superlight);
    color: var(--main-color);
    text-align: left;
    line-height: normal;
    font-size: 14px;
    margin-bottom: 20px;
}

.m-category {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-weight: bold;
    color: var(--main-color);
    text-align: left;
    font-size: 14px;
}

.m-time {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-weight: 500;
    color: var(--light-grey);
    text-align: right;
    font-size: 14px;
}

#newslettersub {
    width: 100%;
    max-width: 360px;
    height: 354px;
    margin: 20px auto;
    background-color: #ffffff;
    border-radius: 25px;
}

#rectangle {
    width: 100%;
    max-width: 360px;
    height: 354px;
    padding: 2px;
    border-radius: 25px;
    border: 1px solid rgba(121, 121, 121, 0);
    background-color: #f2f2f2;
    box-sizing: border-box;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.35);
    text-align: center;
}

#the-latest-gaming-ne {
    width: 224px;
    height: 54px;
    margin: 10px auto;
    font-family: "Poppins Bold", "Poppins", sans-serif;
    font-weight: 700;
    color: #333333;
    line-height: normal;
}

#be-updated-with-the {
    width: 224px;
    height: 87px;
    margin: 10px auto;
    font-family: "Poppins Light", "Poppins", sans-serif;
    font-weight: 300;
    color: #333333;
    text-align: center;
    line-height: 1.5;
}

#input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px auto;
}

#text-field {
    width: 147px;
    height: 34px;
    padding: 2px;
    border: 1px solid #797979;
    background-color: #ffffff;
    font-family: "Poppins", sans-serif;
    color: #999999;
    text-align: left;
    box-sizing: border-box;
}

#text-field:disabled {
    background-color: #f0f0f0;
}

#sign-up {
    width: 69px;
    height: 34px;
    padding: 2px;
    border: 1px solid rgba(121, 121, 121, 0);
    background-color: #d9001b;
    font-family: "Poppins", sans-serif;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
}

#sign-up:hover {
    background-color: #910012;
}

#by-submitting-your-i {
    width: 225px;
    height: 97px;
    margin: 10px auto;
    font-family: "Poppins Light", "Poppins", sans-serif;
    font-weight: 300;
    color: #aaaaaa;
    text-align: center;
    line-height: 1.5;
    font-size: 12px;
}

#footer-phone {
    position: sticky;
    bottom: 0;
    z-index: 999;
    width: 100%;
    background-color: #000000;
    padding: 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

#newspaper-icon {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#profile-icon {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#newspaper-icon img {
    width: 30px;
    height: 30px;
    object-fit: contain;
}
#profile-icon img {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

.m-footer-search {
    display: flex;
    align-items: center;
    position: relative;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 5px 10px;
    max-width: 200px;
    flex-shrink: 0;
    min-width: 100px;
    margin: 0;
}

.footer-search-input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 14px;
    padding: 2px 5px;
    color: #333;
    background-color: transparent;
    margin-right: 25px;
}

.footer-search-input::placeholder {
    color: #aaa;
}

#search-icon {
    width: 16px;
    height: 16px;
    position: absolute;
    right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#search-icon img {
    width: 12px;
    height: 12px;
}

@media (max-width: 400px) {
    #footer {
        flex-wrap: wrap;
        justify-content: center;
        padding: 10px;
    }

    #newspaper-icon, #profile-icon {
        width: 40px;
        height: 40px;
    }

    .m-footer-search {
        max-width: 150px;
        margin: 10px auto;
    }
}

#buttons input[type="radio"] {
    display: none;
}

#buttons label.m-tab-button {
    cursor: pointer;
    background-color: var(--main-color);
    color: #ffffff;
    padding: 5px 10px;
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color);
    font-weight: 500;
    text-align: center;
    line-height: normal;
    transition: background-color 0.2s, color 0.2s;
    font-size: 14px;
}

#buttons label.m-tab-button {
    display: inline-block;
}

#buttons input[type="radio"]:checked + label.m-tab-button {
    background-color: var(--main-color);
    color: #ffffff;
    border: 1px solid var(--main-color);
}

#buttons label.m-tab-button:hover {
    background-color: #a50014;
    color: #ffffff;
}

.m-tab-content {
    display: none;
    animation: fadeIn 0.5s;
}

#recent-tab:checked ~ #tabs #recent-content,
#news-tab:checked ~ #tabs #news-content,
#games-tab:checked ~ #tabs #games-content,
#reviews-tab:checked ~ #tabs #reviews-content,
#technology-tab:checked ~ #buttons ~ #tabs #technology-content,
#events-tab:checked ~ #buttons ~ #tabs #events-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
